<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Managemant System</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div align="center">
	<h1>Employee List</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Employee First Name</th>
				<th>Employee Last Name</th>
				<th>Employee Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${listEmployees}">
				<td th:text="${employee.firstName}"></td >
				<td th:text="${employee.lastName}"></td >
				<td th:text="${employee.email}"></td >
			</tr>
		</tbody>
	</table >
</div>
</body>
</html>